@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin-ext');

.main {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  font-family: "Shadows Into Light Two";
}

#logo {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

html p a {
  text-decoration: underline;
  color: #D0E7C7;
}

img {
  max-width: inherit;
}

html {
  background-color: #23282D;
  color: #d2d5db;
  text-align: center;
}

h1 {
  font-size: 45px;
  font-weight: ;
  font-family: "Shadows Into Light Two";
}

p {
  font-size: 24px;
}
